<ion-header class="ion-no-border">
  <ion-toolbar color="blueaccent">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><h1>Profile</h1></ion-title>
    <i class="fa-solid fa-arrow-right-from-bracket" slot="end" 
        style="color:white; margin-right: 20px; font-size: 28px;"></i>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="image_avatar">
    <img src="../../assets/profileImg.jpg" alt="">
    <i class="fa-solid fa-camera camera-icon"></i>
  </div>

  <h1 class="welcome_text" style="color: #3f37c9;">Hi! Daniel</h1>

  <br>
  <br>
  <ion-label class="secondary-label" style="color: #3f37c9;">Username</ion-label>
  <ion-item lines="none">
    <ion-input placeholder="username"></ion-input>
  </ion-item>

  <br>
  <ion-label class="secondary-label" style="color: #3f37c9;">Email</ion-label>
  <ion-item lines="none">
    <ion-input placeholder="user@email.com"></ion-input>
  </ion-item>

  <br><br>
  <ion-label class="secondary-label" style="color: #3f37c9;">Terms & Services</ion-label>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Deleniti asperiores ipsam ea consectetur iusto. Veniam, 
      maxime recusandae officia aut ad sint necessitatibus pariatur 
      deleniti praesentium suscipit! Exercitationem, nemo! 
      Dignissimos placeat non itaque atque aliquam, 
      obcaecati fugiat dicta reprehenderit cumque sint, beatae dolore, 
      aliquid iure tenetur iste ducimus nisi enim nobis?</p>
    </ion-label>
  </ion-item>

</ion-content>
