/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;700;900&display=swap');

*{
    font-family: 'Overpass', sans-serif;
}

.welcome_text{
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    color: #3f37c9;
}

.secondary-label{
    font-weight: 500;
    font-size: 30px;
    margin-left: 18px;
}

.icon-btn{
    font-size: 32px;
    margin-top: 20px;
    color: #3f37c9;
}

.header-dash{
    display: flex;
    margin: 2px auto;
    justify-content:space-between;
    margin: auto;
}

.menu-label{
    font-size: 16px;
    font-weight: 300;
    color: #3f37c9;
}

.icon-menu{
    font-size: 56px;
    font-weight: 300;
    color: #212529;
}

.btn-content{
    width: 90%;
    height: 160px;
    border-radius: 10px 10px 10px 10px;
}

.box_shadow{
    /*box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;*/
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
