<ion-header class="ion-no-border">
  <ion-toolbar color="blueaccent">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-label class="welcome_text" color="blueaccent">
    OpenAi
  </ion-label>
  <ion-item lines="none">
    <ion-label class="ion-text-wrap">
      <p style="font-size: 22px; font-weight: 200;">OpenAI is an artificial intelligence (AI) research company,
      that is advertised as non-profit, and that aims to promote
      and develop friendly artificial intelligence in such a way that,
      they say, benefits humanity as a whole. 
      <br>
      Contrary,its development is not based on any open community
      nor does it provide any free software.
      <br>
      The organization aims to "collaborate freely" with other
      institutions and researchers when doing their patents and research
      open to the public.</p>
    </ion-label>
  </ion-item>

  <ion-button color="blueaccent" expand="block" routerLink="/login">Exit from App</ion-button>

</ion-content>
